<script type="text/ng-template" id="taskModalTemplate">
	<div class="modal-header">
		<h3 class="modal-title">{{title}}</h3>
	</div>
	<div class="modal-body">
		<p>{{message}}</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="closeit()">OK</button>
	</div>
</script>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<h2>Tasks</h2>
	<form class="form-horizontal query-form" ng-submit="submitTask()">
		<div class="form-group">
			<label for="taskIPs">IPs</label>
			<textarea class="form-control" rows="10" id="taskIPs" ng-model="taskIPs" placeholder="10.10.1.0/16
10.15.2.3
192.168.1.4/24"></textarea>
		</div>
		<div class="form-group">
			<label for="taskPorts">Ports</label>
			<textarea class="form-control" rows="10" id="taskPorts" ng-model="taskPorts" placeholder="80
8080-8085"></textarea>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Submit task</button>
		</div>
	</form>
</div>
