<!DOCTYPE html>
<html ng-app="Godan">

	<head>
		<meta charset="utf-8">	
		<title>Godan</title>
		<link rel="stylesheet" href="../assets/css/bootstrap.css">
		<link rel="stylesheet" href="../assets/css/godan.css">
		<script src="../assets/js/jquery.min.js"></script>
		<script src="../assets/js/bootstrap.js"></script>
		<script src="../assets/js/angular.min.js"></script>
		<script src="../assets/js/angular-resource.min.js"></script>
		<script src="../assets/js/angular-animate.min.js"></script>
		<script src="../assets/js/angular-touch.min.js"></script>
		<script src="../assets/js/angular-route.min.js"></script>
		<script src="../assets/js/ui-bootstrap.min.js"></script>
		<script src="../godan.js"></script>
		<script src="../controllers/navController.js"></script>
		<script src="../controllers/queriesController.js"></script>
		<script src="../controllers/tasksController.js"></script>
		<script src="../controllers/usersController.js"></script>
		<script src="../controllers/statusController.js"></script>
		<script src="../controllers/loginController.js"></script>
	</head>

	<body>

		<div ng-include="'navbarHeader.html'"></div>

		<div class="container-fluid" ng-controller="NavCtrl">
			<div class="row">
				<div ng-include="'navbarSide.html'"></div>
				<div ng-view></div>
			</div>
		</div>
	</body>
</html>
