<div class="col-sm-3 col-md-2 sidebar" ng-if="isLogged()">
	<ul class="nav nav-sidebar">
		<li ng-class="{ active: isActive('/users') }" ng-if="isAdmin() == true"><a href="#/users">Users</a></li>
		<li ng-class="{ active: isActive('/tasks') }" ng-if="isAdmin() == true"><a href="#/tasks">Tasks</a></li>
		<li ng-class="{ active: isActive('/status') }" ng-if="isAdmin() == true"><a href="#/status">Status</a></li>
		<li ng-class="{ active: isActive('/queries') }"><a href="#/queries">Queries</a></li>
	</ul>
</div>
