<script type="text/ng-template" id="statusModalTemplate">
    <div class="modal-header">
        <h3 class="modal-title">Detailed information</h3>
    </div>
    <div class="modal-body container">
		<div class="row">
		<div class="col-md-6">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Tasks</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="t in tasks">
					<td>{{t}}</td>
				</tr>
			</tbody>
		</table>
		</div>
		<div class="col-md-3">
		<form class="form-horizontal status-form" ng-submit="updateStatus()">
			<div class="form-group">
				<label for="running">Running</label>
				<input class="form-control" type="text" value="{{running}}" disabled>
			</div>
			<div class="form-group">
				<label for="newStatus">Set status</label>
				<select class="form-control" id="newStatus" ng-model="newStatus" ng-init="newStatus = status[0].value" ng-options="s.value as s.name for s in status">
				</select>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Set status</button>
			</div>
		</form>
		</div>
		</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="closeit()">Close</button>
    </div>
</script>
<h2>Status</h2>
<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Worker name</th>
			<th>Running</th>
			<th>#Tasks</th>
			<th>CPU usage (%)</th>
			<th>RAM usage (MB)</th>
			<th>Last beat</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="(i,s) in statusTable" ng-click="rowClicked(s)">
			<th scope="row">{{i}}</th>
			<td>{{s.Name}}</td>
			<td><span class="label {{s.Running ? 'label-success' : 'label-danger'}}">{{s.Running}}</span></td>
			<td>{{s.Tasks.length}}</td>
			<td>{{s.Info.Proc.CPU | number: 3}}</td>
			<td>{{s.Info.Proc.TotalRam / 1048576| number: 3}}</td>
			<td>{{s.LastBeat}}</td>
		</tr>
	</tbody>
</table>
